body{
    font-family: Impact;
    text-align: center;
    font-size: 30px;
}
h1 {
    text-align: center;
    font-size: 120px;
    margin-top: 20px;
    color: dodgerblue;
}
h2 {
    text-align: center;
    font-size: 80px;
    //margin-top: 20px;
    color: dodgerblue;
}
div {
    font-size: 40px;
}