.sans{
    font-family: "sans-serif" ,Impact
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    background-color: dodgerblue;
}

.footer{
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

.iframex{
    width: 100%;
    height: auto;
}