.sans{
    font-family: "sans-serif" ,Impact
}
.iframesize{
    width:100%;
    border:0;
    position:;
    height:auto;
    left:0;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    background-color: dodgerblue;
}

.footer{
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}