<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <title>Pick-a-Pc</title>

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon.jpg') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="offcanvas-header">
        <h1 class="offcanvas-title">Resoconto</h1>
        <hr>
    </div>
    <div class="offcanvas-body">
        <div class="text-center">
          {% block content %}
          {% for x in trolley %}
             {% if x != None %}
              <h3> Nome: {{x[0]}}, Costo: {{x[1]}} </h3>
            <form action="" method="post">
                <input type="hidden" value="{{x[3]}}" name="remove" id="remove">
               <button type="submit"  class="btn btn-danger" style="float:right;">X</button>
                <br>
            </form> <hr>
             {% endif %}
           {% endfor %}
            </div>
        {% endblock %}
        <button class="btn btn-primary type="button"><div>Checkout</div></button>
    </div>
</body>
</html>