<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <title>Pick-a-Pc</title>

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon.jpg') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-primary bg-opacity-25">

{% block content %}
<div>
    <div class="row">

        <div class="col bg-light h-100 d-inline-block">

        </div>

        <div class="text-center col-lg-8">
             <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            {{ form.search(size=60) }}
            {{ form.submit(class_="btn btn-primary") }}
                   </form>
            <hr>
            {%for x in queri %}
            <h3> Nome: {{x[0]}}, Marca: {{x[1]}}, Costo: {{x[2]}} </h3>
            <form method="post" name="Compra" id="Compra">
                <input type="submit" name="val" value="Compra" class="btn btn-secondary">
                <input type="hidden" name="val" id="val" value="{{x[3]}}">
            </form>
            <hr>
            {% endfor %}
        </div>
        <div class="col"></div>

    </div>
  </div>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).on('submit','#buyD',function(e){
    e.preventDefault();
    $.ajax({
        type:'POST',
        url:'/cpu',
        data:{
            id: $("#val").val()},
        success:function(){
            alert('done')
        }
    })
})
</script>

 </body>
</html>