<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white">
    <link href="{{ url_for('static', filename='css/pages.css')}}" rel="stylesheet">

    <title>Pick-a-Pc</title>

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon.jpg') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-primary bg-opacity-25 ">
{% block content %}
<div>

            <form action="" method="post" novalidate>
                {{form.hidden_tag()}}
                <div class="text-center">
                <img src="{{ url_for('static', filename='images/cpu.png')}}" class="img-rounded" alt="CPU" width="80">
                    <h4>CPU</h4>
                    </div> <hr>

                <div class="bg-light sidenav">
                <h5> Marca : </h5>
                  {{form2.AMD()}}
                  {{form2.AMD.label}} <br>
                  {{form2.INTEL}}
                  {{form2.INTEL.label}} <br>
                <hr>

                <h5> Socket: </h5>
                {{form2.AM4}}
                {{form2.AM4.label}} <br>
                {{form2.lga}}
                {{form2.lga.label}} <br>
                <hr>

                <h5> Watt :</h5>
                {{form2.sixfive}}
                {{form2.sixfive.label}} <br>
                {{form2.onehunfive}}
                {{form2.onehunfive.label}}<br>
                <hr>

                <h5> Prezzo :</h5>
                  {{form2.minmonet(size=10)}}
                  {{form2.maxmonet(size=10)}}

                  {{form2.submitf(class_="btn btn-info")}}

                </form>
            </div>

        <div class="text-center">
             <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            {{ form.search(size=60) }}
            {{ form.submit(class_="btn btn-primary") }}
                   </form>
            <hr>
            {%for x in queri %}
            <h3> Nome: {{x[0]}}, Marca: {{x[1]}}, Costo: {{x[2]}} </h3>
           <button class="btn btn-secondary" id="val" name="val" value="val" onclick="sendpost('{{x[3]}}')">Compra</button>
            <hr>
            {% endfor %}
        </div>

  </div>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function sendpost(x) {
      return $.post(null,x)
  }
</script>
 </body>
</html>