<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="white">

    <title>Pick-a-Pc</title>

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon.jpg') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"></script>
</head>

<body>

<div class="bg-primary bg-opacity-75">
    <img src="{{ url_for('static', filename='images/logo.png')}}" class="logo">
</div>


<div class="text-center bg-primary bg-opacity-50">
    <div>
        Ciao, benvenuto su Pick-a-Pc.<br>
        Questo sito ti permette di assemblare il PC dei tuoi sogni, quindi in base alle tue esigenze, e tutto ciò in perfetta sicurezza,
        inoltre ti permette di confrontare i prezzi migliori in rete e controllare se le componenti scelte sono compatibili tra loro.<br/>

        <div class="fst-italic">
            <h2 class="sans">ORA TOCCA A TE, SCEGLI DA QUALE COMPONENTE INIZIARE!</h2>
        </div>

    </div>
</div>



<div class="col text-end">
    <button id="checkout" type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#cart" data-src="{{url_for('checkout')}}">
        <div>Carrello</div></button></div>

<div class="col text-center">
    <button type="button" class="btn" data-src="{{url_for('cpu')}}"><img src="{{ url_for('static', filename='images/cpu.png')}}" class="img-rounded" alt="CPU" width="80"><div>cpu</div></button>
    <button type="button" class="btn" data-src="{{url_for('gpu')}}"><img src="{{ url_for('static', filename='images/gpu.png')}}" class="img-rounded" alt="gpu" width="80"><div>scheda video</div></button>
    <button type="button" class="btn" data-src="{{url_for('mobo')}}"><img src="{{ url_for('static', filename='images/mobo.png')}}" class="img-rounded" alt="mobo" width="80"><div>scheda madre</div></button>
    <button type="button" class="btn" data-src="{{url_for('psu')}}"><img src="{{ url_for('static', filename='images/psu.png')}}" class="img-rounded" alt="PSU" width="80"><div>Alimentatore</div></button>
    <button type="button" class="btn" data-src="{{url_for('ram')}}"><img src="{{ url_for('static', filename='images/ram.png')}}" class="img-rounded" alt="RAM" width="80"><div>Ram</div></button>
    <button type="button" class="btn" data-src="{{url_for('memory')}}"><img src="{{ url_for('static', filename='images/memory.png')}}" class="img-rounded" alt="Memory" width="80"><div>Memorie</div></button>
    <button type="button" class="btn" data-src="{{url_for('cooling')}}"><img src="{{ url_for('static', filename='images/cooling.png')}}" class="img-rounded" alt="Cooling" width="80" ><div>Raffreddamento</div></button>
    <button type="button" class="btn" data-src="{{url_for('case')}}"><img src="{{ url_for('static', filename='images/case.png')}}" class="img-rounded" alt="Case" width="80"><div>Case</div></button>
</div>

<hr>

<div class="offcanvas offcanvas-end" id="cart">
    <div class="text-center embed-responsive embed-responsive-16by6" >
    <iframe id="check" width="100%" height="630"  class="embed-responsive-item"></iframe>
     </div>
    </div>

</div>

<div class="text-center embed-responsive embed-responsive-16by6" >
    <iframe id="iframe" width="90%" height="630"  class="embed-responsive-item border border-2 border-secondary"></iframe>
</div>

<script src="{{ url_for('static', filename='js/main.js')}}"></script>

<hr>

<footer>
    <div class="text-center">
    <h5>Napoli, 2021/22</h5>
        <h6>Tutti i diritti riservati.</h6>
    </div>
</footer>

</body>
</html>